absl-py==0.11.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
alabaster==0.7.12
altair==4.1.0
altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
ansi2html==1.6.0
antarctic==0.3.2
appdirs==1.4.4
argcomplete==1.10.0
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.1
astroid @ file:///tmp/build/80754af9/astroid_1592495912941/work
astropy==4.0.1.post1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1592412889138/work
Babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.1.0
bcrypt @ file:///home/conda/feedstock_root/build_artifacts/bcrypt_1602546543856/work
beautifulsoup4==4.8.0
bert-embedding==1.0.1
binance==0.3
bitarray==1.2.2
bkcharts==0.2
bleach==3.1.5
blessings==1.7
blinker==1.4
blis==0.4.1
bokeh @ file:///tmp/build/80754af9/bokeh_1593187602660/work
boto==2.49.0
boto3==1.15.13
botocore==1.18.13
Bottleneck==1.3.2
bpemb==0.3.2
branca==0.4.2
breadability==0.1.20
Brotli==1.0.9
brotlipy==0.7.0
cachetools==4.1.1
calplot==0.1.7.3
catalogue==2.0.4
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
clyent==1.2.2
cmdstanpy==0.9.5
colorama==0.4.3
colorful==0.5.4
colour==0.1.5
conda==4.9.2
conda-build==3.18.11
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1600353358342/work
conda-verify==3.4.2
constantly==15.1.0
contextlib2==0.6.0.post1
convertdate==2.3.1
courlan==0.4.1
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.4
Cython @ file:///tmp/build/80754af9/cython_1594831566883/work
cytoolz==0.10.1
dash==1.16.0
dash-bootstrap-components==0.11.1
dash-core-components==1.12.0
dash-enterprise-auth==0.0.4
dash-html-components==1.1.1
dash-renderer==1.8.0
dash-table==4.10.1
dask @ file:///tmp/build/80754af9/dask-core_1594156306305/work
dateparser==1.0.0
de-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/de_core_news_lg-2.3.0/de_core_news_lg-2.3.0.tar.gz
de-core-news-md @ https://github.com/explosion/spacy-models/releases/download/de_core_news_md-2.3.0/de_core_news_md-2.3.0.tar.gz
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.0.0/de_core_news_sm-3.0.0-py3-none-any.whl
decorator==4.4.2
defusedxml==0.6.0
degiroapi==0.9.5
Deprecated==1.2.10
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
dill==0.3.2
distributed @ file:///tmp/build/80754af9/distributed_1594750293818/work
distro==1.5.0
docopt==0.6.2
docutils==0.16
docx2txt==0.8
EbookLib==0.17.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz
entrypoints==0.3
ephem==3.7.7.1
et-xmlfile==1.0.1
eth-abi==2.1.1
eth-account==0.5.5
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
executing==0.6.0
extract-msg==0.23.1
Faker==9.5.2
fastapi==0.61.1
fastcache==1.1.0
fbprophet==0.7.1
feedparser==6.0.6
filelock==3.0.12
flair==0.6.1
flake8==3.8.3
Flask==1.1.2
Flask-Compress==1.5.0
folium==0.12.1
fsspec==0.7.4
ftfy==5.8
future==0.18.2
gast==0.3.3
gdown==3.12.2
gensim==3.8.3
gevent @ file:///tmp/build/80754af9/gevent_1593009537125/work
gitdb==4.0.7
GitPython==3.1.17
glob2==0.7
gluonnlp==0.6.0
gmpy2==2.0.8
gnews==0.1.3
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
google-search-results-serpwow==1.1.11
googleapis-common-protos==1.52.0
GoogleNews==1.5.8
gpustat==0.6.0
grafanalib==0.5.9
graphviz==0.16
greenlet==0.4.16
grpcio==1.33.2
gym==0.18.3
h11==0.9.0
h5py==2.10.0
HeapDict==1.0.1
hexbytes==0.2.2
hijri-converter==2.1.1
hiredis==2.0.0
holidays==0.10.5.2
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
htmldate==0.9.0
htmlmin==0.1.12
httplib2==0.18.1
httptools==0.1.1
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
hyperopt==0.2.4
icecream==2.1.1
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
ImageHash==4.2.0
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize==1.2.0
IMAPClient==2.1.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446406207/work
incremental==21.3.0
inflection==0.5.1
intervaltree @ file:///tmp/build/80754af9/intervaltree_1594361675072/work
ipfshttpclient==0.8.0a2
ipykernel @ file:///tmp/build/80754af9/ipykernel_1594753368510/work/dist/ipykernel-5.3.2-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447377063/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
Janome==0.4.1
jdcal==1.4.1
jedi @ file:///tmp/build/80754af9/jedi_1592841866100/work
jeepney==0.4.3
jellyfish==0.8.2
jieba==0.42.1
Jinja2==2.11.2
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
json5==0.9.5
jsonpickle==1.4.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-dash==0.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator @ file:///home/conda/feedstock_root/build_artifacts/jupyter_nbextensions_configurator_1594127095175/work
jupyterlab==2.1.5
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
jusText==2.2.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
keybert==0.3.0
keyring @ file:///tmp/build/80754af9/keyring_1593109721646/work
kiwisolver==1.2.0
konoha==4.6.2
korean-lunar-calendar==0.2.1
langdetect==1.0.8
lazy-object-proxy==1.4.3
libarchive-c==2.9
lightgbm==3.1.1
livedataframe==0.0.24
llvmlite==0.33.0+1.g022ab0f
locket==0.2.0
lru-dict==1.1.7
LunarCalendar==0.0.9
lxml==4.6.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.4.2
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
modin==0.9.1
mongoengine==0.22.1
mongomock==3.22.0
more-itertools==8.4.0
mpld3==0.3
mpmath==1.1.0
msgpack==1.0.0
multiaddr==0.0.9
multidict==5.1.0
multimethod==1.4
multipledispatch==0.6.0
murmurhash==1.0.4
mxnet==1.4.0
mylib==0.0.1
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
nest-asyncio==1.5.1
netaddr==0.8.0
networkx @ file:///tmp/build/80754af9/networkx_1594377231366/work
nltk==3.4.5
nose==1.3.7
notebook==6.0.3
numba==0.50.1
numerapi==2.4.5
numexpr==2.7.1
numpy==1.19.5
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
numpyencoder==0.2.0
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencensus==0.7.13
opencensus-context==0.1.2
opencv-python==4.5.1.48
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1593690790606/work
opt-einsum==3.3.0
overrides==3.0.0
packaging==20.4
pandarallel==1.5.1
pandas==1.2.3
pandas-datareader==0.9.0
pandas-profiling==3.0.0
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
pathy==0.5.2
patsy==0.5.1
pdfminer.six==20181108
pep8==1.7.1
pexpect==4.8.0
phik==0.11.2
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1594307295532/work
pkginfo==1.5.0.1
plac==1.1.3
plotly==4.12.0
pluggy==0.13.1
ply==3.11
preshed==3.0.4
profanityfilter==2.0.6
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.14.0
psutil==5.7.0
ptyprocess==0.6.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
py-spy==0.3.6
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycountry==20.7.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodome==3.10.1
pycryptodomex==3.9.9
pycurl==7.43.0.5
pydantic==1.7.4
pydeck==0.6.2
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pyflakes==2.2.0
pyglet==1.5.15
Pygments==2.6.1
PyHamcrest==2.0.2
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint @ file:///tmp/build/80754af9/pylint_1592496053748/work
PyMeeus==0.5.6
pymongo==3.11.2
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySimpleGUI==4.38.0
PySocks==1.7.1
pystan==2.19.1.1
pytest==5.4.3
pytextrank==3.1.1
python-binance==0.7.9
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1594161909948/work
python-logging-loki==0.3.1
python-pptx==0.6.18
pytz==2020.1
pyvis==0.1.8.2
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.1
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
ray==1.1.0
readability-lxml==0.8.1
redis==3.5.3
regex==2021.4.4
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3339==6.2
rlp==2.0.1
rope==0.17.0
rsa==4.6
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.3.3
sacremoses==0.0.43
salt==3002.2
scikit-image==0.16.2
scikit-learn==0.24.2
scikit-plot==0.3.7
scipy==1.4.1
seaborn==0.10.1
SecretStorage==3.1.2
segtok==1.5.10
Send2Trash==1.5.0
sentence-transformers==0.3.9
sentencepiece==0.1.91
sentinels==1.0.0
service-identity==18.1.0
setuptools-git==1.2
sgmllib3k==1.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.13
six==1.12.0
skrobot==1.0.6
smart-open==2.2.1
smmap==4.0.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==3.0.6
spacy-legacy==3.0.6
SpeechRecognition==3.8.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1594223420021/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1593446360927/work
spyder @ file:///tmp/build/80754af9/spyder_1594832131358/work
spyder-kernels @ file:///tmp/build/80754af9/spyder-kernels_1594751551963/work
SQLAlchemy @ file:///tmp/build/80754af9/sqlalchemy_1593446299926/work
sqlitedict==1.7.0
srsly==2.4.1
starlette==0.13.6
statsmodels==0.11.1
streamlit==0.82.0
streamlit-pandas-profiling==0.1.2
stringcase==1.2.0
summa==1.2.0
sumy==0.8.1
swifter==1.0.7
sympy @ file:///tmp/build/80754af9/sympy_1594236545715/work
tables==3.6.1
tabulate==0.8.7
tangled-up-in-unicode==0.1.0
tblib==1.6.0
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
termplotlib==0.3.4
testpath==0.4.4
text-unidecode==1.3
text2vec==0.1.5
textblob==0.15.3
textract==1.6.3
thinc==8.0.6
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tld==0.12.6
tokenizers==0.8.1rc2
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz==0.10.0
topicrankpy==1.1.0
torch==1.6.0
tornado==6.0.4
tqdm==4.61.0
trafilatura==0.9.0
traitlets==4.3.3
transformers==3.3.1
tweepy==3.10.0
Twisted @ file:///tmp/build/80754af9/twisted_1614874387228/work
txaio==21.2.1
typer==0.3.2
typing==3.6.6
typing-extensions==3.10.0.0
tzlocal==1.5.1
ujson==1.35
unicodecsv==0.14.1
Unidecode==1.2.0
uritemplate==3.0.1
uritools==3.0.2
urlextract==0.14.0
urllib3==1.25.9
uvicorn==0.12.1
uvloop==0.14.0
vaderSentiment==3.3.2
validators==0.18.2
varint==1.0.2
visions==0.7.1
wasabi==0.8.2
watchdog @ file:///tmp/build/80754af9/watchdog_1593447344699/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
web3==5.23.1
webencodings==0.5.1
websocket-client==0.58.0
websockets==9.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.1
wrapt==1.11.2
wurlitzer @ file:///tmp/build/80754af9/wurlitzer_1594753850195/work
xgboost==1.3.3
xlrd==1.2.0
XlsxWriter==1.2.9
xlwt==1.3.0
xmltodict==0.12.0
yake==0.4.8
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarl==1.6.3
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface==4.7.1
